<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijo-b">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hijo B</h2>
    <ol>
      <li>Esto es un elemento 1</li>
      <li>Esto es un elemento 2</li>
      <li>Esto es un elemento 3</li>
      <li>Esto es un elemento 4</li>
      <li>Esto es un elemento 5</li>
      <!-- <template is="dom-repeat" items="{{lista-datos}}">
          <li>{{item}}</li>
        
      </template> -->
    </ol>
    
  </template>

  <script>
    /**
     * `hijo-b`
     * Este es el hijo b
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HijoB extends Polymer.Element {
      static get is() { return 'hijo-b'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hijo-b'
          },
          lista: {
            type: Array
            // value: ()=>{}
          }
        };
      }
    }

    window.customElements.define(HijoB.is, HijoB);
  </script>
</dom-module>
